.product-grid{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
.product-grid .product-image{
    overflow: hidden;
    position: relative;
}
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
    width: 100%;
    transition: all .4s ease-out;
}
.product-grid .product-image:hover img{
    transform-origin: top center;
    transform: scale(1.3);
}
.product-grid .product-like-icon{
    color: #194641;
    background: #e9e9e9;
    font-size: 20px;
    text-align: center;
    line-height: 42px;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s ease-out;
}
.product-grid .product-like-icon:hover{ background: #D8E1CC; }
.product-grid .product-sale-label{
    color: #194641;
    background: #D8E1CC;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 16px;
    transform: rotate(-90deg);
    position: absolute;
    top: 18px;
    left: -18px;
}
.product-grid .add-cart{
    color:#fff;
    background: #194641;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 15px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    opacity: 0;
    position: absolute;
    bottom: 20px;
    left: 0;
    transition: all .3s ease-in-out;
}
.product-grid:hover .add-cart{
    opacity: 1;
    bottom: 0;
}
.product-grid .add-cart:hover{ text-decoration: underline; }
.product-grid .product-content{ padding: 15px 0 0; }
.product-grid .title{
    color: #194641;
    font-family: 'Cormorant', serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 7px;
}
.product-grid .title a{
    color: #194641;
    transition: all 0.3s ease 0s;
}
.product-grid .title a:hover{
    color: #34513f;
    text-decoration: underline;
}
.product-grid .price{
    color: #34513f;
    font-size: 18px;
    font-weight: 600;
}
.product-grid .price span{
    font-size: 16px;
    text-decoration: line-through;
    opacity: .5;
}
@media screen and (max-width: 990px){
    .product-grid{ margin-bottom: 30px; }
}